*{
    margin: 0;
    max-width: 1600px;
}
.btn{
    width: 164px;
    height: 44px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}
header nav{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
nav ul{
    display:flex;
    gap: 32px;
    list-style: none;
}