*{
    margin: 0;
    max-width: 1600px;
}
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}
header nav{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
nav ul{
    display:flex;
    gap: 32px;
    list-style: none;
}
.banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 115px 120px 180px;
}
.ban-head h3{
    background-color: white;
    border-radius: 1000px;
    width: 229px;
    padding: 8px 12px;
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}
.aligner{
    display: flex;
    justify-content: center;
}
.ban-content{
    text-align: center;
}
.ban-content h1{
    color: white;
    font-size: 72px;
    margin-bottom: 16px;
}
.banner span{
    color: #30B868;
}
.ban-content p{
    color: white;
}
.banner .buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
.special-btn{
    padding: 12px 16px;
    border: 2px solid white;
    border-radius: 4px;
    color: #FFFFFF;
}
.problems{
    padding: 0 120px;
}
.prob-cont{
    padding-top: 70px;
    text-align: center;
    margin-bottom: 44px;
}
.prob-cont h1{
    font-size: 48px;
    margin-bottom: 16px;
}
.problems p{
    font-size: 16px;
}
.prob-cards{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    text-align: center;
    
}
.prob-cards div{
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.208);
}
.prob-cards img{
    background-color:#F95555;
    padding: 15px;
    border-radius: 1000px;
    margin: 70px 131px 16px;
}
.prob-cards h2{
    font-size: 24px;
    margin: 0 24px 16px;
}