*{
    margin: 0;
    max-width: 1600px;
}
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}
header nav{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
nav ul{
    display:flex;
    gap: 32px;
    list-style: none;
}
.banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    height: 674px;
    padding: 115px 120px 180px;
}
.ban-head h3{
    background-color: white;
    border-radius: 1000px;
    width: 229px;
    padding: 8px 12px;
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}
.aligner{
    display: flex;
    justify-content: center;
}
.ban-content{
    text-align: center;
}
.ban-content h1{
    color: white;
    font-size: 72px;
    margin-bottom: 16px;
}
.banner span{
    color: #30B868;
}
.ban-content p{
    color: white;
}
.banner .buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
.special-btn{
    padding: 12px 16px;
    border: 2px solid white;
    border-radius: 4px;
    color: #FFFFFF;
}